body {
  background: #32322b;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  #interactive { display: none; }
  #join{
  color: #FFA827;
    position: relative;
    top: 0px; 
    z-index: 1;
}
  }
@media screen and (min-width: 901px){
    #join{
  color: #FFA827;
    position: relative;
    top: -200px; 
    z-index: -1;
}
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



#interactive{
  position: relative;
  top: -100px;
  z-index:-1;  
  }


li a {
  display: block;
}

/* Add a black background color to the top navigation */
.menu {
  background-color: #FFFFFF;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.menu a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.menu a:hover {
  background-color: #000000;
  color: #FFFFFF;
}


/* Add a color to the active/current link */
.menu a.active {
  background-color: #000000;
  color: #FFFFFF;
}
footer {
    text-align: center;
    background-color: white;
    color: black;
    letter-spacing: 3px;
}
