body {
  background: #32322b;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
color: #FFA827;
}



/*Style the links for the member website*/
#link a:visited { color: #AE81FF; }
#link a:link {color: #0080ff;}
#link a:hover { color: #FFA827;}
#link{
  font-size: 25px;
  font-weight: 1000;
}

/* Add a black background color to the top navigation */
.menu {
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.menu a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

/* Add a color to the active/current link */
.menu a.active {
  background-color: #000000;
  color: #FFFFFF;
}
/*Disable links to websites which have not been worked on*/
a.disable {
  pointer-events: none;
  cursor: default;
}

footer {
    text-align: center;
    background-color: white;
    color: black;
    letter-spacing: 3px;
}
